header {
    background-color: orange;
    width: 100%;
    height: 100px;
}

footer {
    background-color: blue;
    width: 100%;
    height: 100px;
}

.cel-achtergrondkleur1 {
    background-color: yellow;
}

.woord-achtergrondkleur1 {
    background-color: coral;
}

.cel-achtergrondkleur2 {
    background-color: blue;
}

.cel-achtergrondkleur3 {
    background-color: green;
}

.woord-achtergrondkleur2 {
    background-color: yellow;
}

.cel-achtergrondkleur4 {
    background-color: purple;
}

.cel-achtergrondkleur5 {
    background-color: pink;
}

.woord-achtergrondkleur3 {
    background-color: brown;
}

.cel-achtergrondkleur6 {
    background-color: red;
}

.cel-achtergrondkleur7 {
    background-color: orange;
}

.woord-achtergrondkleur4 {
    background-color: forestgreen;
}

.cel-achtergrondkleur8 {
    background-color: chartreuse;
}

.cel-achtergrondkleur9 {
    background-color: teal;
}

.woord-achtergrondkleur5 {
    background-color: cornsilk;
}

.cel-achtergrondkleur10 {
    background-color: yellowgreen;
}

.cel-achtergrondkleur11 {
    background-color: violet;
}

.woord-achtergrondkleur6 {
    background-color: goldenrod;
}

.cel-achtergrondkleur12 {
    background-color: hotpink;
}

.cel-achtergrondkleur13 {
    background-color: mistyrose;
}

.woord-achtergrondkleur7 {
    background-color: maroon;
}

.cel-achtergrondkleur14 {
    background-color: darkcyan;
}

.cel-achtergrondkleur15 {
    background-color: lime;
}

.woord-achtergrondkleur8 {
    background-color: blue;
}

.cel-achtergrondkleur16 {
    background-color: darkblue;
}